@import "tailwindcss";

@theme {
    --color-white: #f3f3f2;
    --color-lightBlue: #90c2c9;
    --color-olive: #9a9c8a;
    --color-lavender: #8d8d9c;
    --color-darkBlue: #3271ab;
    --color-black: #1a1a1a;
}